/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 60px;
  line-height: 180px;
  font-weight: 800;
}

h2{
  color: #23272A;
  font-size: 50px;
  line-height: 65px;
  margin-bottom: 20px;
  font-weight: 800;
}

p, span{
  font-size: 22px;
  line-height: 35px;
  font-weight: 501;
}

a > i{
  font-size: 18px;
}

i{
  margin-right: 10px;
}


.debug{
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}

.flex{
  display: flex;
}

.container{
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

.row-reverse{
  flex-direction: row-reverse;
}

.button{
  min-width: 50px;
  border-radius: 2rem;
  background-color: white;
  text-decoration: none;
  font-weight: 600;
}

.padding-left{
  padding: 0 0 0 100px;
}

.padding-right{
  padding: 0 100px 0 0;
}

/* Header */
header{
  display: flex;
  margin: 10px 0;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
}

section.header-section{
  display: flex;
  flex-direction: column;
  background-color: #255EE9;
}

.header-section .container{
  flex-direction: column;
}

.header-section .container nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header-section .container nav ul li:not(:last-child){
  margin-right: 40px;
}

.header-section .container nav ul li a{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.header-section .container nav ul li a:hover{
  text-decoration: underline;
}

.header-section .container nav{
  display: flex;
}

.header-section .container .button{
  display: flex;
  justify-content: flex-end;
}

.button.login{
  padding: 10px 15px;
  color: black;
}

.button.login:hover{
  color: #255EE9;
}

.jumbotron{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

.jumbotron .jumbotron-content{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80%;
  color: white;
  text-align: center;
}

.jumbotron-content p{
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

.jumbotron-content .jumbotron-buttons{
  justify-content: space-around;
  width: 70%;
  font-size: 22px;
}

.jumbotron-buttons a{
  padding: 15px 30px;
}

.button.download{
  color: black;
}

.button.download:hover{
  color: #255EE9;
}

.button.open-browser{
  background-color: #23272A;
  color: white;
}

.button.open-browser:hover{
  color: #255EE9;
}

/* Main */
.grey-section{
  background-color: #F6F6F6;
}

.section-with-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-with-content .image{
  width: 65%;
  margin: 30px 0;
}

.section-with-content .text{
  width: 35%;
  margin: 30px 0;
  padding: 30px 0;
}

.center-main-content{
  flex-direction: column;
  text-align: center;
  min-height: 700px;
  margin: 30px 0;
}

.center-main-content.text{
  margin: 0 auto;
  padding: 0;
  min-height: 0;
  width: 90%;
}

.center-main-content.text h2{
  font-size: 45px;
}

.center-main-content img{
  width: 100%;
}

#span-background{
  align-self: center;
  padding: 75px;
  font-size: 35px;
  font-weight: 800;
  background-image: url("../img/stars.svg");
  background-position: center 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.button.blue-background{
  align-self: center;
  padding: 15px 30px;
  color: white;
  background-color: #8EA1E1;
}

.button.blue-background:hover{
  color: white;
  background-color: #255EE9;
}

.wave{
  filter: invert(99%) sepia(6%) saturate(27%) hue-rotate(244deg) brightness(113%) contrast(93%);
}

.wave.upsidedown{
  transform: rotateX(180deg);
}

/* Footer */
footer{
  background-color: #23272A;
  padding-top: 10px;
}

footer h3{
  font-size: 35px;
  line-height: 50px;
  font-weight: 800;
  color: #7289DA;
  margin-bottom: 30px;
}

footer span{
  font-size: 18px;
  color: white;
}

footer span > i{
  font-size: 16px;
}

footer .top-footer{
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #7289DA;
}

footer .col-social{
  padding-right: 40px;
  width: 30%;
  min-height: 200px;
}

.col-social img{
  height: 20px;
  vertical-align: middle;
}

.social-icons a{
  color: white;
}

.social-icons a:hover{
  color: #7289DA;
}

.social-icons i{
  margin-top: 20px;
  margin-right: 25px;
  font-size: 25px;
}

footer .footer-menu{
  display: flex;
  width: 70%;
  min-height: 200px;
}

.footer-menu .col{
  width: calc(100%/4);
  min-height: 200px;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
}

.footer-menu .col span{
  color: #7289DA;
  font-weight: 800;
}

.footer-menu .col nav ul{
  margin-top: 5px;
}

.footer-menu .col nav ul li{
  list-style: none;
  margin-bottom: 10px;
}

.footer-menu .col nav ul li a{
  color: white;
  text-decoration: none;
}

.footer-menu .col nav ul li a:hover{
  color: #7289DA;
  text-decoration: underline;
}

footer .bottom-footer{
  justify-content: space-between;
  align-content: center;
  margin-top: 30px;
  padding: 10px 0;
}

.button.register{
  padding: 10px 25px;
}